@use './variables' as vars;

.p-card {
  padding: vars.$base-padding *1.5 vars.$base-padding * 5 !important;
  box-shadow: vars.$base-box-shadow !important;
  border-radius: vars.$base-border-radius !important;
  text-align: center;
  .p-card-body {
    .p-card-caption {
      font-weight: bolder;
      font-size: vars.$font-size-xl;
    }
  }
}
.tour-card {
  position: relative;
  overflow: hidden;
  border-radius: vars.$base-border-radius;
  box-shadow: vars.$base-box-shadow;
  transition: transform 0.3s ease;
  height: 300px;
  &:hover {
    transform: scale(1.05);
  }
  &-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
    color: vars.$white;
    padding: vars.$base-padding;
    border-radius: vars.$base-border-radius;
    &-title {
      font-size: vars.$font-size-lg;
      font-weight: bold;
      margin: 0;
    }
    &-subtitle {
      font-size: vars.$base-font-size;
      margin: vars.$base-padding 0 0;
    }
  }
}
.experience-card {
  margin: 0 auto;
  max-width: 1200px;
  .experience-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .experience-header {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      .experience-subtitle {
        font-size: vars.$font-size-sm;
        color: vars.$gray;
        margin-bottom: 5px;
      }
      .experience-title {
        font-size: vars.$font-size-xl;
        font-weight: bold;
        margin: 0;
      }
    }
  }
  .experience-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: vars.$base-margin;
    margin-top: vars.$base-margin * 2;
    .p-accordion {
      flex: 1;
      border: none;
      box-shadow: vars.$base-box-shadow;
      padding: vars.$base-padding * 2;
      border-radius: vars.$base-border-radius;
      .p-accordionpanel {
        border: none;
        .p-accordionheader {
          border: none;
          padding: vars.$base-padding * 2;
          border-bottom: vars.$base-border-thickness solid #eaeaea;
          font-size: vars.$base-font-size * 1.125;
          font-weight: 500;
          &:hover {
            background-color: #f9f9f9;
          }
        }
        .p-accordioncontent {
          padding: vars.$base-padding * 2;
          font-size: vars.$base-font-size;
          .p-accordioncontent-content {
            border: none;
          }
        }
      }
    }
    .experience-image {
      flex-shrink: 0;
      img {
        max-width: 400px;
        height: auto;
        border-radius: vars.$base-border-radius * 0.5;
        box-shadow: vars.$base-box-shadow;
      }
    }
  }
  @media (max-width: 768px) {
    .experience-content {
      flex-direction: column;
      width: 300px;
      margin: 10PX auto;
      .experience-image {
        margin-top: vars.$base-margin;
        img {
          max-width: 100%;
          height: auto;
        }
      }
    }
  }
}
.contact-card {
  display: flex;
  flex-wrap: wrap;
  gap: vars.$base-margin;
  padding: vars.$base-padding;
  max-width: 800px;
  margin: 20px auto;
  box-shadow: vars.$base-box-shadow;
  padding: vars.$base-padding * 4;
  border-radius: vars.$base-border-radius;
  .contact-info {
    flex: 1 1 40%;
    color: vars.$black;
    border-radius: vars.$base-border-radius;
    padding: vars.$base-padding;
    box-shadow: vars.$base-box-shadow;
    .info-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: vars.$base-margin;
      .icon {
        font-size: vars.$font-size-xl;
        margin-right: vars.$base-margin;
      }
      h4 {
        margin: 0;
        font-size: vars.$font-size-lg;
      }
      p {
        margin: 0;
        font-size: vars.$font-size-sm;
      }
    }
  }
  .contact-form {
    flex: 1 1 50%;
    background: vars.$white;
    border-radius: vars.$base-border-radius;
    padding: vars.$base-padding;
    box-shadow: vars.$base-box-shadow;
    h3 {
      margin-bottom: vars.$base-margin;
      color: vars.$blue;
      font-size: vars.$font-size-xl;
    }
    form {
      display: flex;
      flex-direction: column;
      gap: vars.$base-margin;
      .input,
      .textarea {
        width: 100%;
        padding: vars.$base-padding;
        border: vars.$base-border-thickness solid vars.$gray;
        border-radius: vars.$base-border-radius;
        font-size: vars.$base-font-size;
        &:focus {
          outline: none;
          border-color: vars.$blue;
        }
      }
      .textarea {
        resize: none;
        height: 6rem;
      }
      .submit-btn {
        padding: vars.$base-padding;
        background: vars.$blue;
        color: vars.$white;
        border: none;
        border-radius: vars.$base-border-radius;
        font-size: vars.$font-size-lg;
        cursor: pointer;
        box-shadow: vars.$base-box-shadow;
        &:hover {
          background: vars.$secondary;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .contact-card {
    flex-direction: column;
    .contact-info {
      flex: 1 1 100%;
    }
    .contact-form {
      flex: 1 1 100%;
    }
  }
}